# DataFrame

- DataFrame represents a table
- DataFrame is a collection of Series

In [1]:
import pandas as pd

In [16]:
data = pd.read_csv(
    '../data/gapminder_gdp_europe.csv',
    #index_col='country'
)

- by position (row, column)
- by label

In [18]:
data = data.set_index('country')

In [20]:
data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [19]:
# indexing by position
data.iloc[0, 0]

1601.056136

In [21]:
# indexing by label
data.loc['Albania', 'gdpPercap_1952']

1601.056136

# Slicing

In [22]:
# select all columns
data.loc['Albania', :]

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [23]:
data.loc['Albania']

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [24]:
data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [25]:
data.loc[:, 'gdpPercap_1952']

country
Albania                    1601.056136
Austria                    6137.076492
Belgium                    8343.105127
Bosnia and Herzegovina      973.533195
Bulgaria                   2444.286648
Croatia                    3119.236520
Czech Republic             6876.140250
Denmark                    9692.385245
Finland                    6424.519071
France                     7029.809327
Germany                    7144.114393
Greece                     3530.690067
Hungary                    5263.673816
Iceland                    7267.688428
Ireland                    5210.280328
Italy                      4931.404155
Montenegro                 2647.585601
Netherlands                8941.571858
Norway                    10095.421720
Poland                     4029.329699
Portugal                   3068.319867
Romania                    3144.613186
Serbia                     3581.459448
Slovak Republic            5074.659104
Slovenia                   4215.041741
Spain                      3834.034742
Sweden                     8527.844662
Switzerland               14734.232750
Turkey                     1969.100980
United Kingdom             9979.508487
Name: gdpPercap_1952, dtype: float64

In [26]:
data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [27]:
data.loc[['Italy', 'Poland']]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Italy,4931.404155,6248.656232,8243.582340,10022.401310,12269.273780,14255.984750,16537.483500,19207.234820,22013.644860,24675.02446,27968.09817,28569.71970
Poland,4029.329699,4734.253019,5338.752143,6557.152776,8006.506993,9508.141454,8451.531004,9082.351172,7738.881247,10159.58368,12002.23908,15389.92468

In [28]:
selected_countries = ['Italy', 'Poland']
data.loc[selected_countries]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Italy,4931.404155,6248.656232,8243.582340,10022.401310,12269.273780,14255.984750,16537.483500,19207.234820,22013.644860,24675.02446,27968.09817,28569.71970
Poland,4029.329699,4734.253019,5338.752143,6557.152776,8006.506993,9508.141454,8451.531004,9082.351172,7738.881247,10159.58368,12002.23908,15389.92468

In [29]:
data.loc[selected_countries].max()

gdpPercap_1952     4931.404155
gdpPercap_1957     6248.656232
gdpPercap_1962     8243.582340
gdpPercap_1967    10022.401310
gdpPercap_1972    12269.273780
gdpPercap_1977    14255.984750
gdpPercap_1982    16537.483500
gdpPercap_1987    19207.234820
gdpPercap_1992    22013.644860
gdpPercap_1997    24675.024460
gdpPercap_2002    27968.098170
gdpPercap_2007    28569.719700
dtype: float64

In [30]:
data.loc[selected_countries].mean()

gdpPercap_1952     4480.366927
gdpPercap_1957     5491.454626
gdpPercap_1962     6791.167242
gdpPercap_1967     8289.777043
gdpPercap_1972    10137.890386
gdpPercap_1977    11882.063102
gdpPercap_1982    12494.507252
gdpPercap_1987    14144.792996
gdpPercap_1992    14876.263054
gdpPercap_1997    17417.304070
gdpPercap_2002    19985.168625
gdpPercap_2007    21979.822190
dtype: float64

# Selecting values by comparison

- integers, floats, strings
- boolean

In [32]:
a = 2
b = 1
if a > b:
    print('a is bigger than b')

a is bigger than b

In [36]:
#if False:
#    print('is true')

In [34]:
# True, False
type(True)

bool

In [37]:
subset = data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']

In [38]:
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [39]:
subset > 10000

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [40]:
mask = subset > 10000

In [41]:
subset[mask]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

In [42]:
# []: indexing
# (): function calls
example_list = [1,2,3,4]
example_list[1]

2

In [43]:
len(example_list)

4

In [44]:
subset[mask].mean()

gdpPercap_1962    13120.625535
gdpPercap_1967    13915.843047
gdpPercap_1972    16676.358320
dtype: float64

In [45]:
subset.mean()

gdpPercap_1962     8894.635868
gdpPercap_1967    10842.506571
gdpPercap_1972    13162.799194
dtype: float64

# Exercises

In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('../data/gapminder_gdp_europe.csv', index_col='country')

- GDP per capita for Serbia in 2007
- GDP per capita for all countries in 1982
- GDP per capita for Denmark, for all years
- GDP per capita for all countries after 1985

In [48]:
df.loc['Serbia', 'gdpPercap_2007']

9786.534714

In [50]:
#df.loc[:, 'gdpPercap_1982']

In [52]:
#df['gdpPercap_1982']

In [53]:
df.loc['Denmark', :]

gdpPercap_1952     9692.385245
gdpPercap_1957    11099.659350
gdpPercap_1962    13583.313510
gdpPercap_1967    15937.211230
gdpPercap_1972    18866.207210
gdpPercap_1977    20422.901500
gdpPercap_1982    21688.040480
gdpPercap_1987    25116.175810
gdpPercap_1992    26406.739850
gdpPercap_1997    29804.345670
gdpPercap_2002    32166.500060
gdpPercap_2007    35278.418740
Name: Denmark, dtype: float64

In [55]:
df.loc[:, 'gdpPercap_1985':]

,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,
Albania,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820
Croatia,13822.583940,8447.794873,9875.604515,11628.388950,14619.222720
Czech Republic,16310.443400,14297.021220,16048.514240,17596.210220,22833.308510
Denmark,25116.175810,26406.739850,29804.345670,32166.500060,35278.418740
Finland,21141.012230,20647.164990,23723.950200,28204.590570,33207.084400
France,22066.442140,24703.796150,25889.784870,28926.032340,30470.016700
Germany,24639.185660,26505.303170,27788.884160,30035.801980,32170.374420
Greece,16120.528390,17541.496340,18747.698140,22514.254800,27538.411880
Hungary,12986.479980,10535.628550,11712.776800,14843.935560,18008.944440
Iceland,26923.206280,25144.392010,28061.099660,31163.201960,36180.789190
Ireland,13872.866520,17558.815550,24521.947130,34077.049390,40675.996350
Italy,19207.234820,22013.644860,24675.024460,27968.098170,28569.719700
Montenegro,11732.510170,7003.339037,6465.613349,6557.194282,9253.896111
Netherlands,23651.323610,26790.949610,30246.130630,33724.757780,36797.933320
Norway,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170
Poland,9082.351172,7738.881247,10159.583680,12002.239080,15389.924680
Portugal,13039.308760,16207.266630,17641.031560,19970.907870,20509.647770
Romania,9696.273295,6598.409903,7346.547557,7885.360081,10808.475610
Serbia,15870.878510,9325.068238,7914.320304,7236.075251,9786.534714
Slovak Republic,12037.267580,9498.467723,12126.230650,13638.778370,18678.314350
Slovenia,18678.534920,14214.716810,17161.107350,20660.019360,25768.257590
Spain,15764.983130,18603.064520,20445.298960,24835.471660,28821.063700
Sweden,23586.929270,23880.016830,25266.594990,29341.630930,33859.748350
Switzerland,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
Turkey,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280