In [ ]:
# pandas: data analysis, tabular data, statistics

# Importing libraries

In [1]:
import pandas

In [2]:
import pandas as pd

In [3]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [4]:
DataFrame()

NameError: name 'DataFrame' is not defined

In [5]:
len

# Reading tabular data

In [6]:
import pandas as pd