In [ ]:
# pandas: data analysis, tabular data, statistics

# Importing libraries

In [1]:
import pandas

In [2]:
import pandas as pd

In [3]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [4]:
DataFrame()

NameError: name 'DataFrame' is not defined

In [5]:
len

# Reading tabular data

In [6]:
import pandas as pd

In [8]:
data = pd.read_csv('../data/gapminder_gdp_oceania.csv')

In [9]:
print(data)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962
0    Australia     10039.59564     10949.64959     12217.22686  \
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982
0     14526.12465     16788.62948     18334.19751     19477.00928  \
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002
0     21888.88903     23424.76683     26997.93657     30687.75473  \
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

In [10]:
data

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [ ]:
data = pd.read_csv('../data/gapminder_gdp_oceania.csv', )