## 02 - Variables

create variables

built-in print function

working with variables

## Exercise 1


x = 1.0
y = 3.0
swap = x
x = y
y = swap

what are the final values of x, y, swap?
try without using the print function

## Exercise 2

write a code for:
    printing the letters rain in the word "brainwashing"
    printing the last letter of "brainwashing"

## 03- Data Types & Conversion

In [ ]:
integer: positive or negative whole numbers
    notation: 1, 2, -3
    example: age
    
float: real/floating point numbers
    notation: 1.0, 1.1
    price of a bread in euro
    
string: character string (or simply text)
    notation: 'asdf', "asdf"
        quotes are not displayed when using print()
    name
        
boolean: True/False

use built-in function type() to find out about the type of:
    a value
    a variable (representing a value)

built-in type function

integers & floats

strings

conversion

In [ ]:
## conversion with built-in functions

'string' --> integer: int('string')
'string' --> float: float('string')
integer --> 'string': str(integer)
float --> 'string': str(float)
float --> integer: int(float)
    returns integer part of a float

## Exercise 1

which of the datatypes (F)loat, (I)nteger, or (S)tring can be used for the following entities
    
    Number of days since the start of the year

    Serial number of a piece of lab equipment

    Current population of a city

## Exercise 2

In [ ]:
Given these variables:
    
first = 1.0
second = "1"
third = "1.1"

Which of the following will return the floating point number 2.0?
1. first + float(second)
2. float(second) + float(third)
3. first + int(third)
4. first + int(float(third)) -> two typecasts necessary
5. int(first) + int(float(third))
6. 2.0 * second