## 02 - Variables

create variables

In [136]:
age = 34

In [135]:
first_name = 'Ruben'

built-in print function

In [137]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [138]:
print(age)

34

In [139]:
print(first_name)

Ruben

In [140]:
print(First_name)

NameError: name 'First_name' is not defined

In [141]:
print(first_name, age)

Ruben 34

In [143]:
print(first_name, 'is', age, 'years old')

Ruben is 34 years old

In [144]:
age= 34
bread = 34
yjht = 34
print(age, bread, yjht)

34 34 34

working with variables

In [145]:
age = 34
age = age + 3
print('age in 3 years:', age)

age in 3 years: 37

In [147]:
age = 34
new_age = age + 3
print('age in 3 years:', new_age)

age in 3 years: 37

In [149]:
atom_name = 'helium'
print('helium starts with the letter:', atom_name[0])

helium starts with the letter: h

In [151]:
atom_name = 'sodium'
first_3_letters = atom_name[0:3]
print(first_3_letters)

sod

## Exercise

In [ ]:
x = 1.0
y = 3.0
swap = x
x = y
y = swap

# what are the final values of x, y, swap?
# try without using the print function

# x= 
# y=
# swap = 

# print(x,y,swap)

## 03- Data Types & Conversion

In [ ]:
integer: positive or negative whole numbers
    notation: 1, 2, -3
    example: age
    
float: real/floating point numbers
    notation: 1.0, 1.1
    price of a bread in euro
    
string: character string (or simply text)
    notation: 'asdf', "asdf"
        quotes are not displayed when using print()
    name
        
boolean: True/False

use built-in function type() to find out about the type of:
    a value
    a variable (representing a value)

built-in type function

In [152]:
print(type(42))
print(type(42.0))
print(type('fast'))
reaction = 'fast'
print(type(reaction))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

integers & floats

In [154]:
print(5-3)
print(32.7 + 54.2)
print(3.0*78)
print( 100 / 3)

2
86.9
234.0
33.333333333333336

strings

In [155]:
print('hello' - 'h')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [156]:
print('hello' + 'h')

helloh

In [158]:
first_name = 'Ruben'
last_name = 'Lacroix'
full_name = first_name + ' ' + last_name
print(full_name)

Ruben Lacroix

In [159]:
multiple_as = 10 * 'a'
print(multiple_as)

aaaaaaaaaa

In [160]:
print(len(multiple_as))

10

conversion

In [ ]:
## conversion with built-in functions

'string' --> integer: int('string')
'string' --> float: float('string')
integer --> 'string': str(integer)
float --> 'string': str(float)
float --> integer: int(float)
    returns integer part of a float

In [161]:
print(len(42))

TypeError: object of type 'int' has no len()

In [163]:
print(len(str(42)))

2

In [164]:
print(1 + '2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [170]:
print(1 + int('2'))
print(type(1 + int('2')))

3
<class 'int'>

<class 'int'>

In [169]:
print(str(1) + '2')
print(type(str(1) + '2'))

12
<class 'str'>

## Exercise

In [ ]:
Given these variables:
    
first = 1.0
second = "1"
third = "1.1"

Which of the following will return the floating point number 2.0?
1. first + float(second)
2. float(second) + float(third)
3. first + int(third)
4. first + int(float(third)) -> two typecasts necessary
5. int(first) + int(float(third))
6. 2.0 * second